#!/bin/bash
DOMAIN="briansnelgrove.com";
DNS="vpn";
CACHEFILE="${DNS}.${DOMAIN}";
# account key
KEY="36MRk2i9tm_LJV8VKqWD93VvVj9AyP41W";
# account key secret
SECRET="LJVBc4yfzv4qSNz8ThZ8YQ";
# time to live for the DNS entry
# godaddy has a minimum of 600 seconds
TTL="600";
# email address (from and to)
EMAIL="brian.snelgrove@gmail.com";
# email password - if 2fa is enabled you should be able 
#to get an app password to work here
EMAILPASSWORD="uivjmqnxhjnhrrpj";
# !!!
# end user defined variables
# !!!
