#!/bin/bash
# this file should be updated with your information
# and saved as GoDaddyDNS.config so your data is not overwritten
# during a 'git pull' command
DOMAIN="EXAMPLE.COM";
DNS="HOSTNAME";
# account key
KEY="GODADDY_KEY";
# account key secret
SECRET="GODADDY_SECRET";
# time to live for the DNS entry - minimum of 5 mintues (600 seconds)
TTL="600";
# email information
EMAIL="EMAILADDRESS";
EMAILPASSWORD="EMAILPASSWORD";
# port may not be needed (25 is the normal SMTP port but gmail uses 465)
MAILHUB="EMAIL.SERVER:PORT"